.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-nav-bar {
  height: 100%;
  width: 200px; /* Set width according to your preference */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333; /* Change color as per your design */
  padding-top: 20px; /* Adjust top padding as needed */
  margin-top: 50px;
}

.side-nav-bar ul {
  list-style-type: none;
  padding: 0;
}

.side-nav-bar ul li {
  padding: 10px 0;
}

.side-nav-bar ul li a {
  text-decoration: none;
  color: white; /* Change color as per your design */
  padding: 10px;
  display: block;
}

.side-nav-bar ul li a:hover {
  background-color: #555; /* Change color as per your design */
}

body{

  background: url('./images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;



}